[Unit]
Description=Zookeeper Daemon
Documentation=http://zookeeper.apache.org
Requires=network.target
After=network.target

[Service]
Type=forking
WorkingDirectory={{zookeeper.home}}
User=root
Group=root
ExecStart={{zookeeper.home}}/bin/zkServer.sh --config {{zookeeper.home}}/conf start
ExecStop={{zookeeper.home}}/bin/zkServer.sh stop
ExecReload={{zookeeper.home}}/bin/zkServer.sh --config {{zookeeper.home}}/conf restart
TimeoutSec=30
Restart=on-failure

[Install]
WantedBy=default.target
